.container{
    width: 99%;
    border: 3px solid black;
    padding: 4px;
    margin: 2px auto;
}
.subContainer-1, .subContainer-2{
    border: 2px solid black;
    width: 80%;
    padding: 2px;
    margin: 3px auto;
}
.heading-1, .heading-2{
    border: 2px solid black;
    text-align: center;
    font-size: medium;
    width: 44%;
    margin: auto;
}
li{
    list-style: none;
    padding: 5px;
}
ul{
    padding-inline-start: 0px;
    margin-bottom: 0px;
}
.leftInput{
    width: 65%;
    align-items: left;
    margin: auto;
    display: inline-block;
}
.hiddenLeftInput{
    width: 65%;
    align-items: left;
    margin: auto;
    display: inline-block;
}
.pageContent{
    margin: 0px auto;
    width: 44%;
}
.hiddenContent{
    margin: 0px auto;
    width: 44%;
}
.bill, .final-word{
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}
.dotted-line{
    height: 1px;
    border-bottom: 2px dotted black;
}
.submit-btn{
    text-align: center;
}
.textBox{
    text-align: right;
}