/* Basic CSS */
li{
    list-style-type: none;
}
ul{
    padding-inline-start: 0px;
}
.container-1, .container-2{
    border: 3px solid black;
    width: 100%;
    background-color: rgb(255, 180, 251);
}
.container-1{
    margin-top: 100px;
}
.header{
    background-color: rgb(196, 12, 241);
    top: 0;
    left: 0;
    padding: 0 9px 0 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
    z-index: 10000;
    box-shadow: black;
    box-shadow: 0 0 20px 2px #3b3b3b;
}
.header-title{
    padding: 0 10px 4px 2px;
    float: right;
    font-weight: bolder;
    font-family: cursive;
    font-size: xx-large;
}
.header-element{
    display: inline-block;
    padding: 0 0;
    font-weight: bold;
    font-family: cursive;
    font-size: medium;
}
.header-element:hover{
    background-color: orangered;
}
.innerContainer{
    border: 3px solid black;
    text-align: center;
    width: 500px;
    height: 30px;
    margin: 5px auto;
    font-size: larger;
    font-weight: bold;  
    padding: auto;  
}
.left-content{
    width: 250px;
    display: inline-block;
    padding: 10px;
    margin: 3px auto;
}
.innerContainer-1{
    margin: auto;
}
.btn{
    width: 100%;
    margin: auto;
    background-color: rgb(247, 0, 255);
}
.btn-block{
    padding: 10px;
}