/* HEADER */
.header{
    background-color: rgb(196, 12, 241);
    top: 0;
    left: 0;
    padding: 0 9px 0 0;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid black;
    z-index: 10000;
    box-shadow: black;
    box-shadow: 0 0 20px 2px #3b3b3b;
}
.header-title{
    padding: 0 10px 4px 2px;
    float: right;
    font-weight: normal;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}
.header-element{
    display: inline-block;
    padding: 0 2px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.header-element:hover{
    background-color: orangered;
}
.dash{
    font-weight: bolder;
    font-family: fantasy;
}
/* Basic CSS */
li{
    list-style-type: none;
}
ul{
    padding-inline-start: 0px;
}

/* CONTAINERS */
.container-1, .container-2{
    border: 3px solid black;
    width: 99%;
    background-color: rgb(255, 180, 251);
}
.container-1{
    margin-top: 100px;
    margin-right: 10px;
}
.container-2{
    display: none;
}
/* INNER_CONTAINERS */
/* Headings */
.innerContainer{
    border: 3px solid black;
    text-align: center;
    width: 50%;
    height: fit-content;
    margin: 5px auto;
    font-size: larger;
    font-weight: bold;  
    padding: 3px;  
}
/* Content Containers */
.innerContainer-1{
    margin: auto;
    width: 90%;
}
.left-content{
    width: 140px;
    display: inline-block;
    padding: 10px;
    margin: 3px auto;
    font-family: calibri;
}
.input-box{
    float: right;
    width: 100px;
    margin: 10px;
}
.output-box{
    float: right;
    width: 20px;
    padding: 10px;
    margin-right: 3px;
}
/* SUBMIT buttons */
.btn{
    width: 100%;
    margin: auto;
    background-color: rgb(247, 0, 255);
    font-weight: 1000;
    font-size: large;
    font-family: century;
}
.btn:hover{
    background-color: rgb(212, 0, 219);
}
.btn-block{
    padding: 10px;
}